doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title= "Yale Mirador Example"
    link(rel="stylesheet", type="text/css", href="../lib/semantic/dist/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="../lib/goldenlayout/goldenlayout-base.css")
    link(rel="stylesheet", type="text/css", href="../lib/goldenlayout/goldenlayout-light-theme.css")
    link(rel="stylesheet", type="text/css", href="../dist/mirador/css/mirador-combined.min.css")
    link(rel="stylesheet", type="text/css", href="../dist/yale-mirador/yale-mirador.bundle.css")
    script(type="text/javascript", src="../dist/mirador/mirador.js")
    script(type="text/javascript", src="../lib/js.cookie.js")
    script(type="text/javascript", src="../lib/semantic/dist/semantic.min.js")
    script(type="text/javascript", src="../lib/goldenlayout/goldenlayout.min.js")
    script(type="text/javascript", src="../dist/yale-mirador/yale-mirador.bundle.js")
  body
    #mirador_header
      .ui.small.menu
        .ui.dropdown.item
          | Window 
          i(style="margin-left: 5px", class="caret down icon")
          .menu
            #mr_menu_add_window.item Add annotation window
        .ui.dropdown.item
          | View 
          i(style="margin-left: 5px", class="caret down icon")
          .menu
            #mr_menu_anno_height.item Annotation cell - fixed height
            i(class="checkmark icon")
        a(target="blank", class="item", href="https://github.com/yale-web-technologies/mirador-project/wiki/User-Guide---Mirador-@Yale") Help
    
    #mr_grid

    #mr_annotation_dialog

    #viewer_template
      div(id="{{id}}",
        data-settings-url="/api/settings",
        data-manifest-url="https%3A%2F%2Fs3.amazonaws.com%2Ftempmanifests%2Ften_thousand_rooms%2FHZGZ.json",
        data-room-id="1")
