html, body, div, p {
  margin: 0;
}

:focus {
  outline: none;
}

.ym_float_right {
  float: right;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.ym_button.small {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.horizontal-lr {
  direction: ltr;
  white-space: normal;
  writing-mode: horizontal-tb;
}

.horizontal-rl {
  direction: rtl;
  white-space: normal;
  writing-mode: horizontal-tb;
}

.vertical-lr {
  direction: ltr;
  white-space: nowrap;
  writing-mode: vertical-lr;
}

.vertical-rl {
  direction: ltr;
  white-space: nowrap;
  writing-mode: vertical-rl;
}
