@anno-content-font-size: 14px;
@anno-tag-font-size: 0.7rem;

@mirador-header-height: 36px;

@annowin-header-height: 60px;
@annowin-h-padding: 5px;
@annowin-v-padding: 5px;

@anno-highlight-border-width: 4px;
@anno-hover-border-color: @blue;
@anno-selected-border-color: @blue;
@anno-targeting-border-color: #cc6600;
@anno-targeted-border-color: #fbb917;
